{{!< default}}
<a class="about" href="{{@blog.url}}/about/"><i class="icon-star"></i></a>
<header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@blog.url}}">
			<img class="header-logo" src="{{@blog.logo}}" alt="Logo" />
			<h1 class="header-name">{{@blog.title}}</h1>
		</a>
		{{#if @blog.description}}
			<span class="text-center header-description">{{@blog.description}}<a class="youwen" href="https://youwenliang.com">YOUWEN</a></span>
		{{/if}}
	</div>
	{{#if @blog.cover}}
	<div class="header-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
